:root{
    --color-background: #e3e3e3;
    --color-text: #30343F;
    
    /* Color primario */
    --color-primary: #000;
    --color-text-primary: #FAFAFF;

    /* Surface */
    --color-surface: #FAFAFF;
    --color-text-surface: #30343F;

    /* Acento */
    --color-accent1: #2E4086;
    --color-accent2: #1E2749;
    --color-text-accent: #FAFAFF;
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-color: var(--color-background);
    color: var(--color-text);
}

header{
    background-color: var(--color-primary);
    height: 10vh;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: var(--color-text-primary);
    text-decoration: none;
    font-size: 500;
}

header ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

header a:hover{
    color: rgb(from var(--color-text-primary) r g b / 60%);
}

.logo{
    font-size: 1.6rem;
    font-weight: bold;
}

main{
    min-height: 80vh;
}

footer{
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BANNER */

.banner{
    text-align: center;
    background: linear-gradient(120deg, var(--color-accent1), var(--color-accent2));
    color: var(--color-text-accent);
    padding: 50px 20px;
    margin-bottom: 20px;
}

.banner h1{
    font-size: 2.5em;
    margin-bottom: 20px;
}

.banner p{
    margin-bottom: 30px;
}

.btn{
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn:hover{
    background-color: rgb(from var(--color-primary) r g b / 60%);
    cursor: pointer;
}

/* FIN BANNER */

.section-container{
    max-width: 1200px;
    margin: 0px auto;
}

/* PRODUCTOS */

.ofertas h2{
    text-align: center;
}

.productos-grid{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    margin: 20px;
}

.producto img{
    width: 100%;
    border-radius: 10px;
}

.producto{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-surface);
    color: var(--color-text-surface);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.sombreado{
    box-shadow: 10px 10px 10px rgb(from var(--color-primary) r g b / 30%);
}

.precio{
    font-size: 1.4em;
    font-weight: bold;
    color: var(--color-accent1);
}

.etiqueta{
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 5px 10px;
    border-radius: 5px;

    background-color: var(--color-accent1);
    color: var(--color-text-accent);
}

/* FIN PRODUCTOS */

/* CATEGORIAS */

.categorias-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}

.categoria{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color-surface);
    border-radius: 10px;
    width: 100%;
    height: 180px;
}

.categorias h2{
    text-align: center;
}

.categoria h3{
    width: 50%;
    text-align: center;
}

.categoria img{
    width: 40%;
    height: 100%;
    object-fit: scale-down;
    border-radius: 10px;
}

/* Tablet (>=600px) */
@media (min-width: 600px){
    .categoria{
        width: calc(50% - 20px);
    }
}

/* ORdenador (>=900px */
@media (min-width: 900px){
    .categoria{
        width: calc(33.33% - 20px);
    }
}

/* FIN CATEGORIAS */